@import "./../../../assets/css/functions.scss";

.products-block {
    .container{
        position: relative;
    }
    .products-swiper {

        .swiper-slide {
            height: auto;
        }

        .product {
            height: 100%;
        }
    }
}