@import "./../../../assets/css/functions.scss";

#about-block{
    margin-bottom: adapt(80, 40);
    .image{
        max-width: 1180px;
        width: 100%;
        height: adapt(490, 240);
        margin: 0 auto;
        margin-bottom: 30px;
        display: block;
        border-radius: 10px;
    }
    .content{
        max-width: 880px;
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }
}